.d-none {
    display: none !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* خلفية داكنة مع شفاف */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    /* وضعه فوق المحتوى */
}

.loader {
    border: 8px solid #f3f3f3;
    /* لون الخلفية للـ Loader */
    border-top: 8px solid #3498db;
    /* لون القمة للـ Loader */
    border-radius: 50%;
    /* شكل دائري */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    /* تحريك الـ Loader */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.125);
}

.article span {
    font-weight: 800;
    font-style: italic;
    font-size: 30px;
}

.error {
    text-align: center;
    background-color: rgb(255, 0, 0);
    padding: 20px;
    font-weight: 600;
}

.news-h1 {
    font-weight: 900;
    font-style: italic;
    text-align: center;
    margin-top: 40px;
    background-color: rgb(34, 218, 218);
    padding: 20px;
}

:root {
    --mainColor: #6600ee;
}

.btn-outline-main {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgba(0, 0, 0, .5);
    --bs-btn-border-color: var(--mainColor);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--mainColor);
    --bs-btn-hover-border-color: var(--mainColor);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--mainColor);
    --bs-btn-active-border-color: var(--mainColor);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--mainColor);
    --bs-btn-disabled-border-color: var(--mainColor);
}

.navbar-brand {
    color: rgb(0, 0, 255);
    font-weight: 700;
    background-color: ;
}

nav {
    transition: .8s background-color;
}

.dark {
    background-color: rgba(0, 0, 0, 0.856);
    font-style: italic;
    color: bisque;
    transition: 0.4s;
}

.changeModeBtn {
    padding: 7px 7px;
    font-weight: 500;
    border-radius: 10px;
    z-index: 9999;
}

.dark-mode {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.cloud-box {
    color: #000;
}

.scrollNav {
    background-color: rgb(150, 192, 204) !important;
}

nav .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.carousel-item {
    background-size: cover;
    background-position: bottom;
}

a {
    text-decoration: none;
    color: #fff;
}

.header-img {
    background-color: rgba(0, 0, 255, .5);
    padding: 25px;
    border-top: 8px solid #000;
    border-radius: 10px;
}

.header-img h1 {
    font-style: italic;
}

.header-img .btn {
    padding: 10px;
}

.bring-website h1 {
    font-style: italic;
    margin-bottom: 15px;
    font-weight: 900;
}

.card {
    max-width: 300px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.5s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
}

.card-title {
    font-weight: 700;
}

.card-text {
    background-color: rgb(20, 218, 218, .8);
    width: 100%;
}

.card-body h1 {
    font-weight: 900;
    font-style: italic;
}

.card-body span {
    font-size: 20px;
}

.card-body .renews {
    color: gray;
}

.btn-select {
    width: 100%;
    background-color: var(--mainColor);
    padding: 15px;
    font-weight: 800;
}

.details span {
    font-weight: 700;
}

.cloud-box {
    background-color: rgb(130, 237, 237);
    padding: 25px;
    border-top: 8px solid var(--mainColor);
    border-radius: 10px;
    text-align: center;
}

.cloud-box h2 {
    font-style: italic;
    font-weight: 800;
}

.cloud-box .btn {
    padding: 10px;
    background-color: var(--mainColor);
}

.iframe-ai {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.iframe-ai h6 {
    margin-top: 50px;
}

.iframe-ai h1 {
    font-weight: 800;
    font-style: italic;
}

.carousel-your-plan h1 {
    font-weight: 900;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: center;
}

.carousel-box {
    background-color: rgba(0, 0, 0, .5);
    padding: 25px;
    border-top: 8px solid var(--mainColor);
    border-radius: 10px;
}

.carousel-box h1 {
    font-style: italic;
}

.carousel-box .btn {
    padding: 10px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 70px;
    height: 70px;
    top: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-control-next {
    right: 25px;
}

.carousel-control-prev {
    left: 25px;
}

.carousel-indicators [data-bs-target] {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: var(--mainColor);
}

.iframe-web-hosting {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.iframe-web-hosting h6 {
    margin-top: 50px;
}

.iframe-web-hosting h1 {
    font-weight: 800;
    font-style: italic;
}

.web-hosting h1 {
    font-weight: 800;
    font-style: italic;
}

.card-link-two {
    color: var(--mainColor);
    text-decoration: underline;
}

.card-marketplace {
    background-color: darkblue;
    color: #fff;
    padding: 25px;
    border-top: 8px solid var(--mainColor);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.card-body h2 {
    font-weight: 900;
    font-style: italic;
}

.btn-marketplace {
    background-color: var(--mainColor);
    padding: 15px 25px;
    font-weight: 800;
}

.card-expert {
    background-color: blue;
    color: #fff;
    padding: 25px;
    border-top: 8px solid var(--mainColor);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.card-body-market p a {
    color: orange !important;
    text-decoration: underline;
}

.card-body-market p {
    font-weight: 800;
    font-style: italic;
}

.marketplace-expert .row {
    gap: 50px;
}

.faqs-web-hosting h1 {
    font-style: italic;
    font-weight: 900;
    margin-top: 45px;
    margin-bottom: 35px;
    text-align: center;
}

.accordion-button {
    font-size: 25px;
    font-weight: 800;
    width: 100%;
}

.accordion-body {
    background-color: rgba(0, 0, 0, 0.125)
}

.answer {
    width: 100%;
}

.accordion-body p {
    font-size: 20px;
}

.answer a {
    color: #007bff !important;
    text-decoration: underline;
}

.test {
    border-top: 2px solid var(--mainColor);
}

.contact h1 {
    font-weight: 900;
    font-style: italic;
    margin-top: 45px;
    margin-bottom: 35px;
    text-align: center;
}

.contact h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: center;
}

.contact iframe {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

.address-info h3,
.email-info h3,
.phone-info h3 {
    color: var(--mainColor);
}

.contact a {
    color: #007bff;
    text-decoration: underline;
}

.contact form {
    margin-top: 40px;
}

.form-check a {
    color: #007bff;
    text-decoration: underline;
}

.sign-in h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
    font-weight: 900;
    font-style: italic;
}

.sign-in .btn {
    padding: 15px;
    font-weight: 700;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--mainColor);
    color: #fff;
    padding: 50px 0;
    margin-top: 50px;
    width: 100%;
}

.footer a {
    color: #fff;
}

.footer .footer-start,
.footer .footer-end {
    width: calc((100% - 40px) / 2);
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 35px;
    flex-basis: 500px;
    flex-grow: 1;
}

.footer .footer-start .logo-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
}

.footer .footer-start .logo-footer a {
    font-size: 30px;
    color: #000;

}

.footer .footer-start p {
    color: #f4f4f4;
    font-size: 15px;
    font-weight: 400;
}

.footer .footer-start .icons img {
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    padding: 5px;
    box-sizing: content-box;
}

.footer .footer-start .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-end .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
}

.footer-end .footer-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}

.footer-end .footer-item ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.footer-end {
    flex-grow: 1;
}

@media (max-width:768px) {
    .footer-start {
        text-align: center;
        align-items: center;
    }

    .footer-item {
        width: 100% !important;
        text-align: center;
        align-items: center;
    }
}

@media (from (min-width:768px) to (max-width:900px)) {
    .footer-item {
        width: 50% !important;
    }
}

ul {
    list-style: none;
}